/* style.css */
.menu-bar-container {
    background-color: rgb(192, 192, 192);
    padding: 12px;
    border: 2px rgb(192, 192, 192);
    border-radius: 4px;
    display: flex;
}

.menu-bar-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    flex: 1;
    color: black;
}

.title-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 128px;
    font-weight: 400;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-image-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}